h1, h2 {
    text-align: center;
}

#page {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    transition: padding 600ms ease-out;
}

#page.open {
    padding-right: 300px;
}

#sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    background: #919191;
    width: 300px;
    height: 100%;
    transition: right 600ms ease-out;
    color: #fff;
}

#sidebar.open {
    right: 0px;
}

#sidebar .toggle-btn {
    cursor: pointer;
    position: absolute;
    right: 325px;
    top: 20px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar .toggle-btn div {
    width: 35px;
    height: 6px;
    background-color: #111;
    transition: transform 0.5s, opacity 0.35s;
}

#sidebar.open .toggle-btn .bar-1 {
    transform: rotate(-45deg) translate(-10px, 10px);
}
#sidebar.open .toggle-btn .bar-2 {
    opacity: 0;
}
#sidebar.open .toggle-btn .bar-3 {
    transform: rotate(45deg) translate(-10px, -10px);
}

ul.buslines {
    list-style: none;
}

.layout {
    overflow: scroll;
    flex-grow: 1;
}

#pce-map {
    position: relative;
    background-image: url("/dpmp.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
}

.bus-stop-detail-watermark {
    position: absolute;
    transform: translate(0px, -50%);
    padding-left: 20px;
    height: max-content;
    width: max-content;
}

.bus-stop-detail-watermark.option-left {
    padding-left: 0;
    padding-right: 20px;
    transform: translate(-100%, -50%);
}

.bus-stop-detail {
    background-color: #F1F1F1;
    border-radius: 5px;
    border: 1px solid #252526;
    padding: 3px 0 0;
    width: max-content;
}

.bus-stop-detail > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.bus-stop-detail li p:nth-of-type(2) {
    padding-left: 20px;
}

.bus-stop-detail > ul > li{
    padding: 5px 10px;
    border-top: 1px solid #DCDCDC;
}

.bus-stop-detail > ul > li:first-child {
    border-top: none
}
p {
    margin: 0;
}

.place {
    width: 6px;
    height: 6px;
    background-color: red;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.place:hover {
    transform: translate(-50%, -50%) scale(1.5);
}

.place:not(:empty) {
    z-index: 10;
}
.bus-stop {
    width: 12px;
    height: 12px;
}
.road {
    width: 6px;
    background-color: red;
    position: absolute;
    user-select: none;
}